* {
    font-family: Roboto, Serif;
}

/*page header*/

.lanCont {
    font-size: 18px;
    margin: 0 auto 20px;
    padding: 20px;
    background: aqua;
}

.lanEl {
    float: left;
    margin-right: 10px;
    text-align: center;
}

.lanCont :last-child {
    margin-right: 0;
}