<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Info</title>
</head>
<body>
<header>
  <form th:action="@{/backToStudents}">
    <input type="submit" value=" <= BACK TO STUDENTS">
  </form>
</header>
<div class="clientForm">
  <form th:action="@{/updateStudentForm}" method="post">
    <div>
      <h2 style="background: aqua">Student Name</h2>
      <input type="text" name="id" readonly th:value="${user.id}">
      <input type="text" name="surname" readonly placeholder="Surname" th:value="${user.surname}">
      <input type="text" name="name" readonly placeholder="Name" th:value="${user.name}">
      <input type="text" name="patronymic" readonly placeholder="Patronymic" th:value="${user.patronymic}">
      <input type="email" name="email" readonly placeholder="Email" th:value="${user.email}">
      <input type="password" name="password" readonly placeholder="Password" th:value="${user.password}">
      <input type="text" name="username" readonly placeholder="Username" th:value="${user.username}">
    </div>
    <div>
      <h2 style="background: aqua">Home Works</h2>
      <div class="tableH" id="tableH">
        <table>
          <tr>
            <th>ID</th>
            <th>HomeWorks</th>
            <th>PassDate</th>
            <th>Grade</th>
          </tr>
          <tr th:each="homework:${homeworks}">
            <td th:utext="${homework.id}"></td>
            <td th:utext="${homework.homework}"></td>
            <td th:utext="${homework.passDate}"></td>
            <td>
              <select name="grade" id="grade">
                <option th:each="grade:${grades}" th:value="${grade}" th:utext="${grade}"></option>
              </select>
            </td>
          </tr>
        </table>
      </div>




<!--      <input type="text" name="idHomeWork" placeholder="id" readonly th:value="*{homeworks.id}">-->
<!--      <input type="text" name="homework" placeholder="Home Work" readonly th:value="*{homeworks.homework}">-->
<!--      <input type="date" name="passdate" readonly th:value="*{homeworks.passDate}">-->
<!--      <select name="grade" id="grade">-->
<!--        <option th:each="grade:${grades}" th:value="${grade}" th:utext="${grade}"></option>-->
<!--      </select>-->
    </div>
    <input type="submit" value="SAVE">
  </form>
</div>
</body>
</html>